.todo-list {
  
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
  
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  margin-bottom: 30px;
}

input {
  flex: 1;
  padding: 20px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 10px;
}

.completed {
  text-decoration: line-through;
}

.completebtn {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  background-color: #3357cf;
  color: #fff;
  border: none;
  cursor: pointer;
  
}

button:hover {
  background-color: #0091ff;
}
